@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');


*{
    font-family: 'Exo 2';
    margin: 0px;
    padding: 0px;
  scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #fff;

}
h2{
    padding: 10px;
}
header{
    width: 100vw;
    position: fixed;
    background-color: black;
    color: #fff;
}

header,nav, ul ,li{
    width: 100vw;
    display: inline-flex;
    padding-top: 2px;
   

}
nav{
    width: 710px;
    margin-left: 1000px;
    align-items: center;
    justify-content: center;
  

}
ul{
    width: 500px;
    height: 37px;
    margin-left: 80px;
    list-style: none;
    color: #ffff;
}

#apresentacao{
   display: inline-flex;
   height:100vh;
   padding: 50px;
   margin: 100px;
   align-items: center;
}
.text-ap{
    width: 60vw;
    height: 700px;
    margin-top: 50px;
    padding: 10px;
}
.text-ap>h1{
    font-weight: bold;
    font-style: italic;
    margin: 10px;
}
button{
    width: 350px;
    height: 50px;
    margin-top:20px ;
    background-color: rgba(0, 0, 255, 0.911);
    color: #fff;
    border-radius: 7px;
}
div.text-ap > a > img{
    width:50px;
    margin: 10px;
    padding: 10px;
}
.img-ap{
    /* width: ; */
 height: 700px;
}
#sb-s{
    display: inline-flex;
}
#sobre-min{
    width: 100vw;
    height: 100vh;
    width: 1000px;
    padding: 50px;
    text-align: center;
}
#sobre-min > h1{
    margin: 10px;
    padding-top:300px;

}
#sobre-min > p{
    margin: 20px;
}
#skils{
    padding: 40px;
    text-align: center;
    margin: 10px;
}
#skils img {
    padding-top: 300px;
    width: 500px;
}
#portifolio{
    width: 70vw;
    margin-left: 250px;   
    align-items: center;
    text-align: center;
    justify-content: center;
 
   
}
#portifolio h1{
    margin: 20px;
    text-align: center;

}

.card-port {
   display: inline-flex;
   width: 1325px;
   height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px ;
    padding: 10px;
    border: 2px solid blue;
    
}
.text-port{
    width: 900px;
}
.btn-port{
    width: 120px;
    height: 40px;
    background-color:rgba(31, 31, 250, 0.986) ;
}
footer{
    width: 100vw;
    height: 150px;
    text-align:;
    color: #fff;
    background-color: black;
}


#contato h1{
text-align: center;
}
#contato p {
    font-weight: 700;
    margin: 10px;

}
.copy{
    text-align: center;
}